p{
    font-size: 6px;
}

.myTitle, .title{
    text-align: center;
}

.title{
    text-align: center;
}
.myBlock {
    display: block;
}
.nes-btn{
    /*font-size: 14px;*/
    height: 6vh;
}
.gif > img{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    padding-top: 25px;
}
h1{
    color: #02803b;
    font-size: 22px;
}
/*.myContainer{*/
    /*background-image: url("https://i.pinimg.com/originals/75/d4/79/75d4796cf08ddb745ab1b452c6d6f557.gif");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*position: fixed;*/
    /*z-index: -1;*/
/*}*/
.myContainer{
    background-image: url("../images/background1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
}
/*.myDeath {*/
    /*background-image: url("https://i.imgur.com/iXefvO8.gif");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*position: fixed;*/
/*}*/

.settingsContainer{
    background-image: url("../images/background1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;

}


.nes-badge{
    display: block;
    margin: 0 auto;
    margin-top: 8em;
}
.settings {
    display: none;
    position: relative;
    z-index: 10;
}

.mod {
    display: none;
    position: relative;
    z-index: 10;
}

.trophy {
    margin: 0 15px;
}

.not{
    z-index: 2;
    color: rgb(85, 26, 139);
}

.musicButton{
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.sfxButton{
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.retButton{
    display: block;
    margin: 0 auto;
}
.lead-exit {
    float: right;
    z-index: 2;
}

#board > div {
    margin: 0 auto;
}

.leaderTitleSection{
    margin-bottom: 10px;
}
.highScore {
    text-align: center;
}
.help {
    display: none;
    position: relative;
    z-index: 10;
    width: 100%;
}


.helpBadge{
    display: block;
    margin: 0 auto;
    /*margin-top: 5em;*/
}
.helpBox{
    display: block;
    margin: 0 auto;
    /*margin-top: 2em;*/
}
.blueBin{
    height: 50px;
    width: 50px;
}
.redBin{
    height: 50px;
    width: 50px;
}
.yellowBin{
    height: 50px;
    width: 50px
}
.greenBin{
    height: 50px;
    width: 50px;
}
.greyBin{
    height: 50px;
    width: 50px;
}
.sodaCan{
    height: 30px;
    width: 15px;
}
.newspaper{
    height: 25px;
    width: 35px;
}
.waterBottle{
    height: 35px;
    width: 15px;
}
.helpReturn{
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}
.nothing {
    bottom: 8px;
    right: 16px;
    position: fixed;
}
.userNameAsk{
    display: none;
    position: relative;
    z-index: 10;
}

.disintegration-container canvas {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: transform 1s, opacity 1s;
    transform: rotate(0deg) translate(0px, 0px);
}
.hidden{
    display: none;
}
.beerBottle{
    height: 30px;
    width: 10px;
}
.pixelThanos{
    height: 25px;
    width: 25px;
}
.sodaBottle{
    height: 30px;
    width: 10px;
}
.cardboardBox{
    height: 25px;
    width: 35px;
}
.sprayCan{
    height: 30px;
    width: 10px;
}
.tinCan{
    height: 30px;
    width: 20px;
}
.pizzaBox{
    height: 25px;
    width: 35px;
}
.jar{
    height: 30px;
    width: 20px;
}
.detergent{
    height: 30px;
    width: 20px;
}
.paperBag{
    height: 25px;
    width: 20px;
}
.balance{
    display: none;
}