.settingsContainer{
    background-image: url("https://i.pinimg.com/originals/75/d4/79/75d4796cf08ddb745ab1b452c6d6f557.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
}
.nes-btn{
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.nes-badge{
    display: block;
    margin: 0 auto;
    margin-top: 8em;
}